<div class="container_article">
    <div class="article">
        <div class="top">
            Published at {{date}} by
            <strong>{{data.Username}}</strong>
        </div>
        <div class="title">
            <h2 id="headTitle">{{data.title}}</h2>
        </div>
        <div class="content">
            {{data.review}}
        </div>
        <div class="rating">
            <div>
                <span>Rating:</span> {{data.rating}}/ 10
            </div>
        </div>
    </div>

    <div class="user_reviews">
        <div class="user_reviews_wrapper">
            <h3>
                <b>User reviews :</b>
            </h3>
            {{#each reviews}}
            <div class="item">
                <div class="username">{{this.Username}} -
                    <span> Rating : {{this.rating}}/10</span>
                </div>
                <div class="user_r">
                    {{this.review}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="user_add_reviews_wrapper">

            <h3>Add your review</h3>
            <form id="user_review" data-id="{{data._id}}">
                <div>
                    <input type="hidden" id="titlePost" name="titlePost" value="{{data.title}}">
                </div>
                <div>
                    <input type="text" id="rating" name="rating" placeholder="Add your rating form 1 to 10">
                </div>
                <div>
                    <textarea id="review" name="review" placeholder="Add your review"></textarea>
                </div>
                <button>Add review</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/validate-review.js"></script>